@model LoginVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/assets/fonts/UniSans/stylesheet.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<body class="body-login-register">
    <!-- FOR SMALL SCREEN section start -->
    <section id="for-small-screen">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 style="text-align:center;">Yalnız böyük ekranlar üçün nəzərdə tutulub</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- FOR SMALL SCREEN section end -->
    <header>
        <div class="d-flex justify-content-center pt-2">
            <a class="btn btn-outline p-1 mr-4" asp-controller="Home" asp-action="Login" asp-route-culture="az-AZ">Azərbaycanca</a>
            <a class="btn btn-outline p-1 mr-4" asp-controller="Home" asp-action="Login" asp-route-culture="tr-TR">Türkçe</a>
            <a class="btn btn-outline p-1" asp-controller="Home" asp-action="Login" asp-route-culture="en-US">English</a>
        </div>
    </header>
    <!-- LOGIN section start -->
    <section id="admin-login">
        <div class="container py-5 vh-100">
            <div class="my-5 py-5">
                <h3 class="text-center py-5">Media Balans - @*@_sharedLocalizer["msg"]*@</h3>
                @if (TempData["Registered"] != null)
                {
                    <p class="text-center text-success">Qeydiyyatdan uğurla keçdiniz !</p>
                }
                <form asp-controller="Home" asp-action="Login" method="post" class="row d-flex flex-column align-items-center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-6 d-flex flex-column align-items-center">
                        <input asp-for="UserName" class="form-control form-group w-75" placeholder="İstifadəçi adı" style="text-indent:10px;" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-6 mt-3 d-flex flex-column align-items-center">
                        <input asp-for="Password" class="form-control form-group w-75" placeholder="Şifrə" style="text-indent:10px;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <label class="m-0">Yadda saxla</label>
                        <input asp-for="RememberMe" class="form-group m-0 ml-2" />
                    </div>
                    <div class="col-6 mt-2 d-flex flex-column align-items-center">
                        <input type="submit" class="form-group w-75 btn text-white custom-btn" value="Daxil ol">
                    </div>
                    <div class="col-6 mt-3 d-flex flex-column align-items-center">
                        <a asp-controller="Home" asp-action="Register" class="form-group w-75 btn btn-success text-white">
                            Qeydiyyat
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- LOGIN section end -->

    <script src="~/assets/js/jQueryConnection.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>

