@model RegisterVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/assets/fonts/UniSans/stylesheet.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<body class="body-login-register">
    <!-- FOR SMALL SCREEN section start -->
    <section id="for-small-screen">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 style="text-align:center;">Yalnız böyük ekranlar üçün nəzərdə tutulub</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- FOR SMALL SCREEN section end -->
    <!-- REGISTER section start -->
    <section id="admin-login">
        <div class="container py-5 vh-100">
            <div class="my-5 py-5">
                <h3 class="text-center pb-5">Media Balans - Qeydiyyat</h3>
                <form asp-controller="Home" asp-action="Register" method="post" class="row d-flex flex-column align-items-center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-6 d-flex flex-column align-items-center">
                        <input asp-for="FirstName" class="form-control form-group w-75" placeholder="Ad" style="text-indent:10px;" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-center">
                        <input asp-for="LastName" class="form-control form-group w-75" placeholder="Soyad" style="text-indent:10px;" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-center">
                        <input asp-for="UserName" class="form-control form-group w-75" placeholder="İstifadəçi adı" style="text-indent:10px;" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-center">
                        <input asp-for="Password" class="form-control form-group w-75" placeholder="Şifrə" style="text-indent:10px;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-center">
                        <input asp-for="ConfirmPassword" class="form-control form-group w-75" placeholder="Təsdiq şifrəsi" style="text-indent:10px;" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="col-6 mt-2 d-flex flex-column align-items-center">
                        <input type="submit" class="form-group w-75 btn text-white custom-btn" value="Qeydiyyatdan keç">
                    </div>
                    <div class="col-6 mt-3 d-flex flex-column align-items-center">
                        <a asp-controller="Home" asp-action="Login" class="form-group w-75 btn btn-success text-white">
                            Geri qayıt
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- REGISTER section end -->

    <script src="~/assets/js/jQueryConnection.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>

