@font-face {
    font-family: 'Uni Sans';
    src: url(UniSans-Light.woff2) format('woff2'),url(UniSans-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Uni Sans';
    src: url(UniSans.woff2) format('woff2'),url(UniSans.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Uni Sans';
    src: url(UniSans-Bold.woff2) format('woff2'),url(UniSans-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal
}
