@model ChangePasswordVM

    <form asp-controller="Profile" asp-action="ChangePassword" method="post" class="row">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="col-12">
            <input asp-for="CurrentPassword" class="form-control form-group w-25" placeholder="Cari şifrə">
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="col-12">
            <input asp-for="NewPassword" class="form-control form-group w-25" placeholder="Yeni şifrə">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="col-12">
            <input asp-for="ConfirmPassword" class="form-control form-group w-25" placeholder="Təsdiq şifrəsi">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="col-12">
            <input type="submit" class="form-group btn text-white custom-btn w-25" value="Təsdiqlə">
        </div>
        <div class="col-12 mt-3">
            <a asp-controller="Profile" asp-action="MyPosts" class="form-group btn btn-success text-white w-25">
                Geri qayıt
            </a>
        </div>
    </form>

@section scripts
{
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

